# Ignore Python bytecode files
__pycache__/
*.py[cod]

# Ignore virtual environments
venv/
env/

# Ignore .env file containing sensitive information
.env

# Ignore log files
*.log

# Ignore compiled libraries
*.so
*.dylib
*.dll
